.wrapper_with_padding
	#doc_show
		%h1.title= @doc.title
		%p= simple_format(@doc.content)

	.buttons
		= link_to "Fix doc", edit_doc(@doc), class: "button"
		= link_to "Trash it", doc_path(@doc), method: :delete, dara {confirm: "Are  you sure?"}, class: "button"