#banner
	.banner_content
		%h1 File Cabinet
		%p Your life's work. Organized, always.
		%button= link_to "Enter", new_user_registration_path
		
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Organize
				%p Reflejaba en su cara el miedo de hablar con los demas, su inseguridad, no tenia buen cuerpo, sus contemporaneas tenian un cuerpo bien desarrollado, ella era fofa, sin los atributos que caracterizan a una mujer y con grasa donde no deberia haber.
#bottom_cta
	.wrapper
		%h2 Go Ahead!
		%br 
		%button= link_to "Join Now", new_user_registration_path